<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
  <title>{% block title %}Patchbin{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="{{ static_path }}/styles/layout.css" type="text/css" />
{% block head %} {% endblock %}
</head>
<body id="top">
<div class="wrapper col1">
  <div id="header">
    <div id="logo">
      <h1><a href="{{ url_root }}">Patchbin</a></h1>
      <p>Share and collaborate on patches</p>
    </div>
    <br class="clear" />
  </div>
</div>
<div class="wrapper col2">
  <div id="topbar">
    <div id="search">
      <ul>
        <li>Use patchbin to share patches and collaborate</li>
        <li class="last">easily with fellow hackers.</li>
      </ul>
      <form action="#" method="post">
        <fieldset>
        <legend>Site Search</legend>
        <input type="text" value="Search the site(DISABLED)&hellip;"  onfocus="this.value=(this.value=='Search the site&hellip;')? '' : this.value ;" />
        <input type="submit" name="go" id="go" value="GO" />
        </fieldset>
      </form>
    </div>
    <div id="topnav">
      <ul>
        <li><a href="http://github.com/ninjagod/patchbin">Github</a>
          <ul>
            <li><a href="http://github.com/ninjagod/patchbin">Patchbin's code is open</a></li>
            <li><a href="http://github.com/ninjagod/patchbin">source (MIT/X11). You</a></li>
            <li><a href="http://github.com/ninjagod/patchbin">should fork it on github.</a></li>
          </ul>
        </li>
        <li><a href="{{ url_root }}/contribute/">Contribute</a>
          <ul>
            <li><a href="{{ url_root }}/contribute/">Want to help improve</a></li>
            <li><a href="{{ url_root }}/contribute/">patchbin, send us your</a></li>
            <li><a href="{{ url_root }}/contribute/">(wait for it) patches</a></li>
          </ul>
        </li>
        <li><a href="{{ url_root }}/sponsor/">Sponsor</a>
          <ul>
            <li><a href="{{ url_root }}/sponsor/">Help with the hosting</a></li>
            <li><a href="{{ url_root }}/sponsor/">costs by donating or</a></li>
            <li><a href="{{ url_root }}/sponsor/">sponsoring hosting.</a></li>
          </ul>
        </li>
        <li class="last"><a href="{{ url_root }}/about/">About</a>
          <ul>
            <li><a href="{{ url_root }}/about/">Find out more about</a></li>
            <li><a href="{{ url_root }}/about/">patchbin, the author,</a></li>
            <li><a href="{{ url_root }}/about/">and the code.</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<div class="wrapper col4">
  <div id="container">
    {% block content %}
    {% endblock %}
  </div>
</div>
<div class="wrapper col5">
  <div id="footer">
    <div class="footbox">
      <h2>Hosting sponsored by</h2>
      <p><a href="http://anirudhsanjeev.org">Anirudh</a> during February</p>
   </div>
    <div class="footbox">
      <h2>Patchbin is powered by</h2>
      <ul>
        <li><a href="http://djangopony.com">Django</a></li>
        <li><a href="http://i.imgur.com/SfwDd.jpg">Vim</a></li>
        <li class="last"><a href="http://nginx.net">Nginx</a></li>
      </ul>
    </div>
    <div class="footbox last">
      <h2>// TODO:</h2>
      <p>
      Find something to put here
      </p>
    </div>
    <br class="clear" />
  </div>
</div>
<div class="wrapper col6">
  <div id="copyright">
    <p class="fl_left">Patchbin is written by <a
      href="http://anirudhsanjeev.org">Anirudh Sanjeev</a>. You should
    follow <a href="http://github.com/ninjagod">me on github</a></p>
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Open Source Templates">OS Templates</a></p>
    <br class="clear" />
  </div>
</div>
</body>
</html>
