{% extends "core/base.html" %}
{% block title %}Patchbin! Welcome {% endblock %}

{% block content %}
    <form id="patchForm" method="POST" action="/submit">
        <div>
            <h2>Patch:</h2>
            <p>
            <textarea name="patchText" rows="25" cols="90"></textarea>
            </p>
            <p><input type="submit" value="Submit!"/></p>
            <h2>Optional fields:</h2>
            <p>Description</p>
            <textarea name="description" rows="5" cols = "90"></textarea>
            <p>Name</p>
            <input type="text" name="authorName" />
            <p>Email (Not displayed publicly) - required for deleting comments and patch</p>
            <input type="text" name="emailAddress" />
            <p><input type="checkbox" name="emailNotify">Notify me of new comments via email</p>
        </div>
    </form>
{% endblock %}
