{% extends "core/base.html" %}
{% block title %}About - Patchbin {% endblock %}

{% block content %}
<h2>Sponsor</h2>
<p>Patchbin is built by me, an Indian Undergrad student, and is hosted on 
Linode VPS Servers. While I intend to continue developing and improving
Patchbin, I don't intend to continue hosting it myself.</p>

<p>I don't want to run any ads on the site. You can sponsor the site for a
month by paying for the hosting, and even get a little link at the bottom.
Otherwise, if you have a server which you can give me access to, that would
work great as well.
</p>

<p>Please email me ('anirudh@' + 'anirudhsanjeev' + '.org');</p>
{% endblock %}
