pre
{
    font-size: 110%;
    white-space: pre-wrap;
}
.diff
{
    padding-left:4px
}
.diff th
{
    color:#666666;
    font-weight: normal;
    padding: 0 0.6em;
    text-align: right;
    vertical-align:top;
}
.diff td
{
    padding-left:1px;
    vertical-align:top;
}
.diff pre
{
    margin-bottom:0;
}
.whiteback
{
    background: #FFFFFF none repeat scroll 0 0;
}
.grayback
{
    background: #EEEEEE none repeat scroll 0 0;
}
.greenback
{
    background: #99FF99 none repeat scroll 0 0;
}
.redback
{
    background: #FF8888 none repeat scroll 0 0;
}

.commentform
{
    background:#FFFFAA none repeat scroll 0 0;
    padding-left: 0.8em;
    border:1px solid #999999;
    font-size:0.8em;
}
.commentform textarea
{
    width:80%;
    height:150px;
}
.commentform input
{
    width:65%;
}

.commentText
{
    background:#FFFFAA none repeat scroll 0 0;
    padding-left: 1em;
    border:1px solid #999999;
}

.commentText p
{
    margin-top:5px;
    margin-bottom:5px;
    font-family:arial, sans-serif;
    font-size: 0.8em;
}
.commentText pre
{
    margin-top:4px;
    margin-bottom:4px;
}
